<div class="static-page-container">
  <div class="static-page-content content">
    <h2 class="title is-4">What's this guy all about?</h2>
    <p>Hey there!</p>
    <p>
      My name is Josh Jones, and I am the creator of musiclikeyoumeanit.com. I am a huge rock and heavy music fan. I have worked in these genres as a musician, producer, and engineer for more than a decade and I can easily say I have had some of the best experiences of my life creating music.
    </p>
    <p>
      I created musiclikeyoumeanit.com because I am excited to share what I have learned with other music professionals like you to help you on your journey.
    </p>
    <%= image_tag("dani_and_josh.jpg", class: "about-image") %>
    <p class="is-italic">
      (The photo is of my best Dani and I on vacation in the beautiful Pacific Northwest of the United States. They have been a huge help in my music career, and when we aren't working on a record together we thoroughly enjoy spending time outdoors, walking and hiking in nature.)
    </p>
    <h2 class="title is-4">Is Music Like You Mean It for me?</h2>
    <p>Great question! This site and my content is <strong>not</strong> for you if:</p>
    <ul>
      <li>You aren't passionate about creating high quality music</li>
      <li>You aren't willing to think outside the box to find ways to improve at your craft</li>
      <li>You are looking for a simple formula or list of tricks to guarantee success</li>
    </ul>
    <p>
      On the other hand, if you have ever wished your music could sound as polished and high-energy as the records you listen to every day, then this is a great place to start!
    </p>
    <p>
      I also welcome music professionals who are already established in their career, but still looking to <strong>push their music to the next level</strong>. There are so many more voices out there in the rock and heavy music genres that deserve to be heard, and it is my goal to teach you the tools, mindsets, and workflows to make sure you get there.
    </p>
    <h2 class="title is-4">What makes this site different?</h2>
    <p>
      There is a ton of content online about how to get started in the music industry, and there are plenty of people happy to show you the latest plugins and mixing tricks.
    </p>
    <p>
      Music Like You Mean It is different. This site aims to cut through all the noise and help you rise above the tricks and hacks to see <strong>the important decisions behind all the great records you love</strong>.
    </p>
    <p>
      I firmly believe that once you understand the process of creating great music, it is not hard to find the right tool for each step along the way. This does not work the other way around though. It is impossible to craft great music that's fun to listen to with just a pile of tools and tricks.
    </p>
    <p>
      The good news is that anyone can learn how to make the decisions required to create high quality music. It is helpful to be a master at your instrument, DAW, or songwriting flow, but I want to let you in on a secret. There are great records being made <em>right now</em> by people who aren't as skilled as you are. The only difference between you and them is that they are <strong>making the important decisions intentionally</strong>, and the result is they get to release music that moves our favorite genres forward.
    </p>
    <h2 class="title is-4">Where do I start?</h2>
    <p>
      If you are as excited as I am for the future of rock and heavy music, let me walk alongside you in your journey and share what I have learned to help you take the next step in the right direction.
    </p>
    <p>
      The best place to get started is to go sign up and watch my free workshop. It is jam-packed with great content for everyone from musicians to songwriters to engineers. Try to identify at least one takeaway you can apply to your music, and then <strong>actually go and do the work</strong>. I know you have what it takes to leave your mark on the industry and I am so excited to hear what you create!
    </p>
    <br/>
    <div class="has-text-centered">
      <%= link_to("Watch the free workshop", workshop_path, class: "button is-info") %>
    </div>
  </div>
</div>
