<div class="workshop-page-container">
  <div class="workshop-page-content">
    <h2 class="workshop-title">
      12 Steps to Create the Best Songs of your Career
    </h2>

    <p class="description">
      The difference between the best and worst rock and heavy records last year might not be what you think it is! In this workshop I dive deep into the <strong>behind-the-scenes decisions</strong> that all <strong>great music creators</strong> must make. With these tools, you will be prepared to go out and start improving your own music <strong>right away</strong>.
    </p>

    <div class="workshop-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/aqWwylsnrfA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
