<p>Hi <%= @user.name %>,</p>

<p>
  Thanks for raising your hand to receive regular updates and new material from Music Like You Mean It. If you have not had a chance yet, I recommend <%= link_to("starting with my free workshop", workshop_url) %>.
</p>

<p>
  In the workshop, I walk you through several actionable tips that you can apply right away to take your music to the next level. If you are passionate about creating high quality music, then this is certainly for you.
</p>

<p>
  <%= link_to("Watch The Free Workshop", workshop_url) %>
</p>

<p>
  Now that you are part of the in-crowd, you will also have access to any list-only content that I send out, like early previews and bonus resources.
</p>

<p>
  I am so excited to be a part of your music journey. If you have any questions or if there is anything I can help with, feel free to drop a comment on a video or reach out to me directly at josh@musiclikeyoumeanit.com.
</p>

<p>Keep making great music,</p>

<p>Josh</p>
