html {
  // background-color: hsl(0, 0%, 95%);
  background-color: #eeeeee;
  // Bulma `$grey-dark`
  color: hsl(0, 0%, 29%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar,
.navbar-brand,
.navbar-burger {
  // entire menu height
  height: 64px;
  .site-logo-image {
    margin-left: 12px;
    height: 22px;
  }
  // bigger burger lines
  span {
    left: calc(50% - 10px);
    width: 20px;
  }
}

.flash {
  margin: 6px 5px !important;
}

.page-container {
  min-height: calc(100vh - 136px); // height of both navbars
}

.footer {
  margin: 0 !important;
  padding: 12px 24px;
  background-color: #161E2A;
  color: white;
  .footer-link {
    margin: 0px 8px 0px 20px;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
  }
}

.login-form-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  .login-form {
    .title {
      font-weight: normal;
      margin-bottom: 12px;
    }
    max-width: 600px;
    width: 100%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 23px;
  user-select: none;
  input {
    opacity: 0;
    &:checked + .slider {
      background-color: #3298dc;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
      transform: translateX(15px);
    }
    &:focus + .slider {
      outline: -webkit-focus-ring-color auto 1px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 1px;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    user-select: none;
    &:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 34px;
      &::before {
        border-radius: 50%;
      }
    }
  }
}
