<div class="new-workshop-user">
  <div class="overlay">
    <div class="sign-up-card">
      <h2 class="title is-3 has-text-white">
        I Want To Help You Create the Best Rock And Heavy Music Of Your Career
      </h2>
      <p class="has-text-white is-size-5">
        Learn twelve key decisions you can make today to take your writing, recording, mixing, and live performances to the next level.
      </p>

      <div class="inner-sign-up-card has-text-centered">
        <h2 class="title is-4 has-text-black">
          Sign up to get immediate access to the free video workshop!
        </h2>
        <%= form_with(model: @user, url: workshop_users_path) do |f| %>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Name" name="user[name]">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" placeholder="Email" name="user[email]">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>

          <p class="has-text-grey subtitle">
            Get a unique link to your workshop today! You may choose to unsubscribe at any time.
          </p>

          <div class="actions">
            <%= f.submit "Watch the free workshop", class: "button is-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
