<div class="static-page-container">
  <div class="static-page-content content">
    <p>Are you sure you want to unsubscribe from musiclikeyoumeanit.com? This action will permanently delete all your user data and cannot be undone.</p>
    <%= link_to("Unsubscribe", user_path(@user), method: :delete, class: "button is-warning") %>
  </div>
</div>
