<div class="all-emails">
  <div class="all-emails-container">
    <h2 class="title is-4">All emails</h1>

    <div class="actions">
      <%= button_to(send_daily_email_emails_path, method: :post, data: { turbo_confirm: "This will send an email to every user. Are you sure that's what you intended to do?", controller: "disable", disable_with_value: "<i class='fas fa-spinner fa-spin'></i><span>Send<span class=\"large-screen-description\">&nbsp;daily email</span></span>", action: "disable#disableButton", disable_target: "button" }, class: "button is-info is-small") do %>
        <span class="icon is-small">
          <i class="fas fa-paper-plane"></i>
        </span>
        <span>Send<span class="desktop-action">&nbsp;daily email</span></span>
      <% end %>
      <%= link_to(new_email_path, class: "button is-info is-small") do %>
        <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
        <span>New</span>
      <% end %>
    </div>

    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Sent</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <%= render(partial: 'emails/email', collection: @emails, cached: true) %>
      </tbody>
    </table>
  </div>
</div>
